{% extends 'budget/base.html' %}
<body>
{% block body %}
    <h1>Budget</h1>
    <button><a href="{% url 'budget:make-budget' %}">Create Budget</a></button>
    <br>
    {% for budget in budgets %}
        <p>Budget: {{ budget.budget_name }} <button><a href="{% url 'budget:view_budget' budget.id %}">View Budget</a></button></p>
            <h2>Planned Income</h2>
    <table>
        <thead>
            <tr>
                <th>Income</th>
                <th>Planned</th>
                <th>Received</th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <td>Day Job</td>
            <td>$3,000.00</td>
            <td>$3,000.00</td>
        </tr>
    <tr>
        <td>Babysitting</td>
        <td>$3,000.00</td>
        <td>$0.00.00</td>
    </tr>
    </tbody>
    </table>
    <button>Add Planned Income</button>

    <h2>Categories</h2>
    <table>
        <thead>
        <tr>
            <th>Budget Categories</th>
            <th>Budgeted</th>
            <th>Remaining</th>
        </tr>
        </thead>
    <tbody>
        {% for category in categories %}
            <tr>
            {% if category.budget == budget %}
                <td>Category: {{ category.category_name }}<a href="{% url 'budget:view_category' category.id %}">View Category</a></td>
                <td>Planned: {{ category.planned }}</td>
                <td>Received: {{ category.received }}</td>
                <td><a href="{% url 'budget:edit_category' category.id %}">Edit Category</a></td>
                <td><a href="{% url 'budget:delete_category' category.id %}">Delete Category</a></td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <button><a href="{% url 'budget:make-category' budget.id %}">Add Category</a></button>
    {% endfor %}
{% endblock %}
</body>