{% extends 'budget/base.html' %}
<body>
{% block body %}
    <div class="container">

        <h1 class="mt-5 display-4">Dashboard</h1>
        <hr>

        {# DROP DOWN BUTTON #}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Budget
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for budget in budgets %}
                    {% if budget.user == user %}
                        <a class="dropdown-item"
                           href="{% url 'budget:dashboard' budget.id %}">{{ budget.budget_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>

        <p>Budget: {{ budget.budget_name }} <a href="{% url 'budget:view_budget' budget.id %}">
            <button class="btn shadow button-color border-0 py-3 px-5 main-button">View Budget</button>
        </a></p>

        {# SMALL CARD 1 - CURRENT BALANCES #}
        <div class="row mb-5">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">

                        <table class="table">
                            <thead>
                            <tr>
                                <th class="border-top-0 h5" scope="col">Current Balances</th>
                                <th class="border-top-0" scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Current Balances</td>
                                <td><strong>? $0.00</strong></td>
                            </tr>
                            <tr>
                                <td class="border-top-0">Savings</td>
                                <td class="border-top-0"><strong>? $0.00</strong></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            {# SMALL CARD 2 - REMAINING BALANCE #}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">

                        <table class="table">
                            <thead>
                            <tr>
                                <th class="border-top-0 h5" scope="col" colspan="2">Remaining Spending Balances</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Total Amount Remaining</td>
                                <td><strong>{{ budget.total_budget }}</strong></td>
                            </tr>
                            <tr>
                                <td class="border-top-0">Daily Spending Limit</td>
                                <td class="border-top-0"><strong>
                                    {% if current_month == "01" and budget.new_month == "January" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "02" and budget.new_month == "February" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "03" and budget.new_month == "March" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "04" and budget.new_month == "April" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "05" and budget.new_month == "May" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "06" and budget.new_month == "June" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "07" and budget.new_month == "July" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "08" and budget.new_month == "August" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "09" and budget.new_month == "September" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "10" and budget.new_month == "October" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "11" and budget.new_month == "November" %}
                                        {{ spending_limit }}
                                    {% elif current_month == "12" and budget.new_month == "December" %}
                                        {{ spending_limit }}
                                    {% endif %}
                                {{ days_left }}
                                </strong></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


        {# LAARGE CARD - TRANSACTIONS #}
        <div class="row mb-5">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow border-0">
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead class="border-bottom">
                    <tr>
                        <th scope="col">Transactions</th>
                        <th scope="col">Date</th>
                        <th scope="col">Label</th>
                        <th scope="col">Amount</th>
                        <th scope="col">In or Out?</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <div class="row">
                        {% for transaction in transactions %}
                            {% if transaction.label.category.budget.id == budget.id %}
                                <tr>
                                    <td>{{ transaction.transaction_name }}</td>
                                    <td>Date</td>
                                    <td>{{ transaction.label }}</td>
                                    <td>{{ transaction.amount }}</td>

                                    {% if transaction.incoming == True %}
                                        <td>Incoming</td>
                                    {% elif transaction.outgoing == True %}
                                        <td>Outgoing</td>
                                    {% endif %}

                                    <td><a href="{% url 'budget:edit_transaction' transaction.id %}">
                                        <button class="btn shadow button-color border-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                            </svg>
                                        </button>
                                    </a></td>
                                    <td><a href="{% url 'budget:delete_transaction' transaction.id %}">
                                        <button class="btn shadow button-delete border-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                        </button>
                                    </a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>
                </table>

                <hr>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'budget:make_transaction' %}">
                        <button class="btn shadow button-color border-0 py-3 px-5 main-button">Create Transaction
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
