{% extends 'budget/base.html' %}
<body>
{% block body %}
    <div class="container">
        <h1 class="mt-5 display-4">Dashboard</h1>
        <hr>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Budget
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for budget in budgets %}
                    {% if budget.user == user %}
                        <a class="dropdown-item"
                           href="{% url 'budget:dashboard' budget.id %}">{{ budget.budget_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
