{% extends 'budget/base.html' %}
<body>
{% block body %}
    <div class="container">
        <h1 class="mt-5 display-4">Transactions</h1>
        <hr>
           <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Month
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for month in months %}
                    {% if month.user == user and month.budget.id %}
                        <a class="dropdown-item"
                           href="{% url 'budget:view_transactions' month.budget.id %}">{{ month.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
