.theme-body {
    background: linear-gradient(45deg, white, lightgray) no-repeat fixed;
}

.home-body {
  position: relative;
}

.home-body:before {
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
    opacity:0.3;
}

.body-content {
    padding-bottom:300px;
}

.reps-weights {
    font-size: 1.2rem;
    font-weight: bold;
}

.muscles {
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.instructions {
    font-size: 1.2rem;
    line-height: 2.0rem;
}

.list-unstyled {
    list-style: none;
}

.metrics {
    font-size: 1.2rem;
    font-weight: bold;
}

.home-content {
  position: relative;
}

.workout-description {
    font-size: 1.3rem;
    line-height: 2rem;
}

.video-link {
    font-size: 1.6rem;
}

.img-workout {
    border-radius: 50%;
    border: 5px solid white;
}

.links {
    color: white;
    margin-left: 3rem;
}

.nav-active {
    color: red;
}