.links {
    color: white;
    margin-left: 3rem;
}

.links:hover {
    color: pink;
}

.nav-active {
    color: lightgrey;
    text-decoration: underline;
}

.background {
    background-color: lightcyan;
}

.button-color {
    background-color: rebeccapurple;
    color: white;
}

.button-delete {
    background-color: red;
    color: white;
}
