.links {
    color: white;
    margin-left: 3rem;
}

.links:hover {
    color: #C3BEE8;
}

.nav-active {
    color: lightgrey;
    text-decoration: underline;
}

.body-content {
    padding-bottom:350px;
}

.background {
    background-color: #D7E4E8;
}

.button-color {
    background-color: #635D8C;
    color: white;
}

.main-button:hover {
    background-color: #C3BEE8;

}

.button-delete {
    background-color: red;
    color: white;
}

.dash-small-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.index-card {
    width: 450px;
}

 .dash-balance-rows {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .dash-balance-number {
     margin-left: auto;
 }

 .loginCard-background {
     background-color: rgb(136, 176, 191);
 }

