{% extends 'budget/base.html' %}
{% block body %}
{% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <div class="mt-5">
        <h1 class="d-flex justify-content-center">Welcome to</h1>
        <h1 class="d-flex justify-content-center"><strong>EVERY PENNY</strong></h1>
        <h5 class="d-flex justify-content-center">We help you save, down to EVERY PENNY.</h5>
    </div>

    <div class="container mt-5 d-flex justify-content-center">
      <div class="card shadow border-0 w-75 loginCard-background">
          <div class="card-body">
              <h4 class="d-flex justify-content-center mb-5">Sign In</h4>

              <div class="container">
                  <div class="row">
                          <div class="col-lg-12"><label class="h5" for="">Username</label></div>
                          <div class="col-lg-12"><input class="w-100 shadow border-0" style="height: 2.5rem;" type="text" name="username" id=""></div>
                          <div class="col-lg-12 mt-4"><label class="h5" for="">Password</label></div>
                          <div class="col-lg-12"><input class="w-100 shadow border-0" style="height: 2.5rem;" type="password" name="password" id=""></div>
                          <div class="col-lg-12 mt-4 d-flex justify-content-center"><button class="btn shadow button-color border-0 py-3 px-5 bg-dark login" type="submit">Login</button></div>
                  </div>
              </div>

          </div>
      </div>
    </div>
</form>
{% endblock %}
